#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255); /* Semi-transparan */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Di atas semua elemen */
}